@page
@model TestCatalogue.Pages.DeleteLangModel
@{
    ViewData["Title"] = "Удаление языка программирования";
}

<h1>Удаление языка программирования</h1>

<h3>Вы действительно хотите удалить этот язык?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>     
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Language.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Languages">Отмена</a>
    </form>
</div>
